footer
  .row
    .col-6
      h2 Find me on

      ul
        li Twitter
        li Facebook
        li GitHub
    .col-6
      strong Developed by <a href="https://github.com/vercryger">vercryger</a>