doctype html
html
  head
    meta(charset="utf-8")
    
    title ~ Big Time!

    link(rel='icon' href="favicon.ico")
    // custom styles
    link(rel='stylesheet', href='css/main.css')

  body

    block content

    include ../partials/footer.jade

    script(src='javascript/functions.js')
