extends layouts/default

block content
  
  include partials/header.jade

  h1 The green day!
  p It seems like it work :O

  figure
    img(src="images/grey-logo.png" width="350" alt="Grey logo")
    figcaption: a(href="") Click here if you think this is awesome